In [ ]:
year_lists=[]
a=input("태어난 연도를 넣으세요")
b=int(a)
for number in range(0,5):
    year_lists.append(b+number)
print(year_lists)

태어난 연도를 넣으세요1991

In [27]:
year_lists=[]
a=input("태어난 연도를 넣으세요")
b=int(a)
for number in range(0,5):
    year_lists.append(b+number)
print(year_lists[2])

태어난 연도를 넣으세요1991
1993

In [29]:
year_lists=[]
a=input("태어난 연도를 넣으세요")
b=int(a)
for number in range(0,5):
    year_lists.append(b+number)
print(year_lists[-1])

태어난 연도를 넣으세요1991
1995

In [30]:
thing =["mozzarella","cinderella","salmonella"]
print (thing)

['mozzarella', 'cinderella', 'salmonella']

In [41]:
thing =["mozzarella","cinderella","salmonella"]
a=thing[1].upper()
print (a)

CINDERELLA

In [43]:
thing =["mozzarella","cinderella","salmonella"]
del thing[-1]
print (thing)

['mozzarella', 'cinderella']

In [56]:
surprise=["Groucho","Chico","Harpo"]
a=surprise[-1].lower()
b=a[::-1]
print(b.capitalize())

Oprah

In [62]:
for number in range(2,11,2):
    print (number)

2
4
6
8
10

In [65]:

bierce={
    "day":"A perjiod of twenty_four hours, mostly misspent",
    "positive":"mistaken at the top of one's voice",
    "misofrtune":"The kind of fortunr that never misses"
}
print(bierce)

{'day': 'A perjiod of twenty_four hours, mostly misspent', 'positive': "mistaken at the top of one's voice", 'misofrtune': 'The kind of fortunr that never misses'}

In [76]:
pythons={
    'Chapman':'Graham',
    'Cleese':'John',
    'Idle':'Eric',
    'Jones':'Terry',
    'Palin':'Michael',
}
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [78]:
pythons['Gilliam']='Gerry'
print(pythons)

{'Chapman': 'Graham', 'Cleese': 'John', 'Idle': 'Eric', 'Jones': 'Terry', 'Palin': 'Michael', 'Gilliam': 'Gerry'}

In [79]:
pythons['Gilliam']='Terry'
print(pythons)

{'Chapman': 'Graham', 'Cleese': 'John', 'Idle': 'Eric', 'Jones': 'Terry', 'Palin': 'Michael', 'Gilliam': 'Terry'}

In [81]:
some_pythons={
    'Graham':'Chapman',
    'John':'Cleese',
    'Eric':'Idle',
    'Terry':'Gilliam',
    'Micheal':'Palin',
    'Terry':'Jones',
}
some_pythons

{'Graham': 'Chapman',
 'John': 'Cless',
 'Eric': 'Idle',
 'Terry': 'Jones',
 'Micheal': 'Palin'}

In [82]:
some_pythons['John']

'Cless'

In [84]:
'Groucho' in some_pythons

False

In [85]:
some_pythons.get('John')

'Cless'

In [3]:
pythons={
    'Chapman':'Graham',
    'Cleese':'John',
    'Gilliam':'Terry',
    'Idle':'Eric',
    'Jones':'Terry',
    'Palin':'Michael',
}
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [9]:
others={'Marx':'Groucho','Howard':'Moe'}
pythons.update(others)
print(pythons)

{'Chapman': 'Graham', 'Cleese': 'John', 'Gilliam': 'Terry', 'Idle': 'Eric', 'Jones': 'Terry', 'Palin': 'Michael', 'Marx': 'Groucho', 'Howard': 'Moe'}

In [10]:
first={'a':1,'b':2}
second={'b':'platypus'}
first.update(second)
print(first)

{'a': 1, 'b': 'platypus'}

In [11]:
'Gilliam' in pythons

True

In [2]:
e2f={
    'dog':'chien',
    'cat':'chat',
    'walrus':'morse',
}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [3]:
e2f['walrus']

'morse'

In [14]:
empty_set = set()
even_number={0,2,4,6,8}
odd_number={1,3,5,7,9}
print(empty_set)
print(even_number)
print(odd_number)

set()
{0, 2, 4, 6, 8}
{1, 3, 5, 7, 9}

In [17]:
set('letters')

{'e', 'l', 'r', 's', 't'}

In [ ]:
set(['Dasher','Dancer','Atom'])

In [19]:
drinks={
    'martini':{'vodka','vermouth'},
    'black russian':{'vodka','kahlua'},
    'white russian':{'cream','kahlua','vodka'},
    'manhattan':{'rye','vermouth','bitters'},
    'screwdriver':{'orange juice','vodka'},
}

In [21]:
for name, contents in drinks.items():
    if 'vodka' in contents:
        print(name)

martini
black russian
white russian
screwdriver

In [27]:
for name, contents in drinks.items():
    if 'vodka' in contents and not ('vermouth' in contents or 'cream' in contents):
        print(name)

black russian
screwdriver

In [34]:
a={1,2}
b={2,3}
a>=b

False

In [37]:
for name, contents in drinks.items():
    if contents & {'vermouth','orange juice'}:
        print(name)

martini
manhattan
screwdriver

In [46]:
for name, contents in drinks.items():
    if 'vodka' in contents and not contents & {'vermouth','cream'}:
        print(name)

black russian
screwdriver

In [39]:
bruss=drinks['black russian']
wruss=drinks['white russian']

In [43]:
bruss^wruss

{'cream'}

In [1]:
a = {i for i in range(10) if i%2 == 1}
print (a)

{1, 3, 5, 7, 9}

In [3]:
arr=(num for num in range(10))
for i in arr:
    print(i)
arr2=(word for word in 'Got') 
for i in arr2:
    print(i)

0
1
2
3
4
5
6
7
8
9
G
o
t

In [5]:
dict(zip(('optimist','pessimist','troll'),
           ('the glass is half full','the glass is half empty',
            'how did you get a glasss')))

{'optimist': 'the glass is half full',
 'pessimist': 'the glass is half empty',
 'troll': 'how did you get a glasss'}

In [7]:
titles=['Creature of Habit','Crewel Fate']
plots=['a nun turns into a mon ster','a haunted yarn shop']
print(dict(zip(titles,plots)))

{'Creature of Habit': 'a nun turns into a mon ster', 'Crewel Fate': 'a haunted yarn shop'}